.vscode/
.DS_Store
tmp
.env

# go build
bin/webapp

# Code coverage profiles and other test artifacts
coverage.out
*.out
coverage.*
*.coverprofile
profile.cov

# Asciinema recordings
*.cast
# Frontend
node_modules
